
{% extends "cmp/views/templates/base.html" %}

{% block content %}

  <legend>Facilities List</legend>
      <button id="addFacility" class="btn btn-primary">Add Facility</button> <br/><br/><br/>
    <div id="facilitieslist"></div>
    
 <script type="text/javascript">
 
 var oTable;
$(document).ready(function() {
	$("#addFacility").click(function() {
		window.open("/facility/add", "_self");	
	});
	
    $('#facilitieslist').html( '<table cellpadding="0" cellspacing="0" border="0" class="display" id="example"></table>' );
    $.getJSON("facility/facilitydata", function(json) {
    	oTable = $('#example').dataTable( {
        "aaData": json,
        "aoColumns": [
            { "sTitle": "Facility Code" },
            { "sTitle": "Facility Name" },           
            { "sTitle": "District", "sClass": "center" },
            { "sTitle": "Level", "sClass": "center" }
        ],
        "fnRowCallback": function( nRow, aData, iDisplayIndex ) {
			/* Append the grade to the default row class name */
			var code = aData[0];
			$('td:eq(0)', nRow).html( '<a href= "/facility/edit/' +code + '">' + code + '</a>' );
			
			return nRow;
		},
        "sDom": 'T<"clear">lfrtip',
    "oTableTools": {
      "sSwfPath": "../datatables/swf/copy_csv_xls_pdf.swf"
    }
    } );
    
    });
} );

</script>

{% endblock %}

