
{% extends "cmp/views/templates/base.html" %}

{% block content %}

  <h1>One Facility</h1>
  <span>Facility Code  : </span><input class="span8" type="text"></input><br/>
  <span>Facility Name  : </span><input class="span8" type="text"></input><br/>
  <span>Facility Level  : </span><input class="span8" type="text"></input><br/>
  <span>District : </span><input class="span8" type="text"></input><br/>
  <span>CC Region  : </span><input class="span8" type="text"></input><br/>
  <span>Zone  : </span><input class="span8" type="text"></input><br/>
      <button class="btn">Save Facility</button> <br/><br/><br/>

{% endblock %}

